.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/lib/build
/captures
gradle.properties
build
.idea/*
.idea
*.iml
.gradle
local.properties
lib/build/*
compiler.xml
modules.xml
vcs.xml
